@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype'); /* esse ../ significa = volte uma pasta e abra o arquivo que esta na idroid */
    font-weight: normal;
}

:root{
    --cor0:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;    /* VARIAVEIS */
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; /* tem as 3 fontes pra caso uma nao funcionar, tenta a prox */
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px; /* seletor geral da pagina, tirou a margem e o padding */
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517'; /* colocou o emoji dos links externo */
}



header{
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image:linear-gradient(to bottom, var(--cor03), var(--cor05)) ; /* degrade no cabeçalho, linear é de cima para baixo */

}

header > p{
    color: white;
    font-family:var(--fonte-padrao);
    font-size: 1.2em; /* tamanho da fonte */
    max-width: 500px; /* o maximo que vai se estender */
    margin: auto; /* centraliza o P */
    padding-right: 10px;
    font-weight: normal;
    padding-left: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267); /* sombra no texto */
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267); /* sombra */
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
}

nav > a{
    color: var(--cor01);
    padding: 10px; /* da uma separada nos menus */
    border-radius: 5px; /* deixa a caixinha com a borda redonda */
    text-decoration: none; /* tira o sublinhado */
    font-weight: bold; /* negrito */
    transition-duration: 0.5s; /* tempo q vai demorar pra aparecer a opçao */

}

nav > a:hover{ /* quando passar o mouse em cima */
    background-color: var(--cor03); /* cor do fundo */
    color: var(--cor05); /* cor da letra quando passa o mouser */
}

main{
    min-width: 300px; /* minimo do tamanho */
    max-width: 1000px; /* max  do tamanho */
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 10px; /* Arrendonda o canto de baixo esquerdo */
    border-bottom-right-radius:10px; /* Arrendonda o canto de baixo direito */
}

main h1{
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor05);
    font-family: var(--fonte-android)
    
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor01), transparent); /* degrade do fundo do h2, right = direita */
    text-indent: 8px;

}

main p{
    margin: 15px  0px; /* margem em cima e embaixo de todos os paragrafos */
    text-align: justify; /* alinha o paragrafo */
    text-indent: 30px; /* da um espaço na primeira linha do paragrafo */
    font-size: 1em;
    line-height: 2em; /* é a altura entre linhas */
}

main strong{ /* palavras destacadas */
    color: var(--cor04);
    font-weight:bold ;
}

 main a{ /* decorando os links */
    text-decoration: none;    
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
 }

 main a:hover{
    text-decoration: underline;
    color: var(--cor04);
 }

main img{
    width: 100%;
}

main img.pequena{
    max-width: 340px;
    display: block; /* serve pra centralizar a img */
}

div.video{
    background-color: var(--cor05);
    
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3 px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px; /* arredondou a caixa atras do h3*/
} 

aside > ul{
    list-style-type: '\2714\00A0\00A0'; /* 2714 é o codigo do certo, esse 00a0 é pra dar espaçamento */
    list-style-position: inside; /* a boliha fica do lado de dentro */
    columns: 2; /* dividiu ela em 2 */
}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline; /* linha debaixo do meu nome */
    color: var(--cor01);
}